/* header */
.profile {
    height: 12rem;
    width: 12rem;
    border-radius: 0.5rem;
    padding: 0;
    grid-area: profile;
}
.description {
    display: flex;
    gap: 20px;
    height: 12rem;
    width: auto;
    border-radius: 0.5rem;
    flex-grow: 1;
    grid-area: description;
}
.description p:nth-child(-n+3) {
    display: flex;
}
.description ul {
    display: flex;
}
.description li {
    list-style-type: none;
}
.socmed-links {
    height: 10rem;
    width: auto;
    border-radius: 0.5rem;
    flex-grow: 1;
}
/* section */
.education {
    border-radius: 0.5rem;
    grid-area: education;
}
.skills {
    display: flex;
    flex-direction: column;
    line-height: 250%;
    border-radius: 0.5rem;
    grid-area: skills;
}   
.skills ul {
    display: flex;
    gap: 20px;
}
.skills li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    border: 0.5px solid rgba(170, 170, 170, 0.45);
    border-radius: 0.5rem;
    width: 10rem;
    padding: 0 10px;

}
