/* header */
.profile-img {
    height: 11.5rem;
    width: 11.5rem;
    border-radius: 0.5rem;
}
.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 12rem;
    width: 12rem;
    border-radius: 0.5rem;
    padding: 0;
    grid-area: profile;
    cursor: pointer;
    transform-style: preserve-3d;
    transition: 0.5s ease-in-out;
    transition-duration: 0.5s;
    transition-delay: 0.2s;
}
.profile::before, .profile::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100%;
    width: 100%;
    padding: 1px;
    border-radius: 0.5rem;
    translate: -50% -50%;
    background-image: conic-gradient(#FFD700, #FFB700, #FFA500, #FF8C00, #FFD700);
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    z-index: -1; 
}
.profile::after {
    filter: blur(1rem);
}
.profile:hover::before,
.profile:hover::after {
    opacity: 1;
}
.profile:hover {
    transform: rotateY(180deg);
}
.description {
    display: flex;
    gap: 20px;
    height: 12rem;
    width: auto;
    border-radius: 0.5rem;
    flex-grow: 1;
    grid-area: description;
}
.description p:nth-child(-n+3) {
    display: flex;
}
.description ul {
    display: flex;
}
.socmed-links {
    height: 10rem;
    width: auto;
    border-radius: 0.5rem;
    flex-grow: 1;
}
/* section */
.education {
    position: relative;
    background-color: #fff;
    border-radius: 0.5rem;
    grid-area: education;
}
.education li {
    padding: 20px;
    border-bottom:  0.5px solid rgba(170, 170, 170, 0.45);
}
.skills {
    display: flex;
    flex-direction: column;
    line-height: 250%;
    border-radius: 0.5rem;
    grid-area: skills;
}   
.skills ul {
    display: flex;
    gap: 20px;
    margin-left: 16px;
}
.skills li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    position: relative;
    border: 0.5px solid rgba(170, 170, 170, 0.45);
    border-radius: 0.5rem;
    width: 10rem;
    padding: 0 10px;
    transition-duration: 0.5s;
}
.skills li::before, .skills li::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100%;
    width: 100%;
    padding: 5px;
    border-radius: 0.5rem;
    translate: -50% -50%;
    opacity: 0;
    transition: 0.5s ease-in-out;
    background-image: conic-gradient(#FFD700, #FFB700, #FFA500, #FF8C00, #FFD700);
    z-index: -1; 
}
.skills li:hover::before, .skills li:hover::after {
    opacity: 1;
}
.skills li:hover {
    border: 0.5px solid rgba(170, 170, 170, 0.1);
}
.skills li::after {
    filter: blur(1rem);
}
